<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="utility.Listener"></listener>
	</listeners>

	<test name="TestChromeBrowser">
		<parameter name="url" value="https://www.spicejet.com/"></parameter>

		<parameter name="browser" value="chrome"></parameter>
		<classes>

			<class name="testcases.TC001_SignUpTest" />
			<class name="testcases.TC002_LoginTest" />
			<class name="testcases.TC003_SearchFlightOneWayTest" />
			<class name="testcases.TC004_SearchFlightTwoWayTest" />
			<class name="testcases.TC005_ValidationTest" />

		</classes>
	</test>

	<test name="TestFirefoxBrowser">
		<parameter name="url" value="https://www.spicejet.com/"></parameter>

		<parameter name="browser" value="firefox"></parameter>
		<classes>

			<class name="testcases.TC001_SignUpTest" />
			<class name="testcases.TC002_LoginTest" />
			<class name="testcases.TC003_SearchFlightOneWayTest" />
			<class name="testcases.TC004_SearchFlightTwoWayTest" />
			<class name="testcases.TC005_ValidationTest" />

		</classes>
	</test>
</suite> 
